node-red/01 start-flow.json
[
    {
        "id": "a099d47fc07b3cee",
        "type": "tab",
        "label": "Home Battery Start",
        "disabled": false,
        "info": "# Home battery control\r\nConsists of three flows:\r\n 1.  Start flow\r\n 1.  Control flow\r\n 1.  Master switch flow\r\n\r\n## Start flow\r\nThis is the starting point of your home battery control.\r\n\r\nIt starts with P1 measurement as a trigger.\r\nIt allows you to connect your battery sensors to the flow.\r\nIt ends with a function node, mapping your batteries to a battery_array\r\n\r\nThe battery_array is passed on to the control flow.\r\n\r\nWhen the control flow has calculated the desired corrections,\r\nit is passed back to this flow and applied to your batteries.",
        "env": []
    },
    {
        "id": "fc3b0636793881be",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "Start",
        "style": {
            "label": true
        },
        "nodes": [
            "1d0932b9cdfe2cc0",
            "057b9222c17d4046",
            "b5940f2c8939de70"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 82
    },
    {
        "id": "a5b8a03b1e2f2371",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "Strategy selection",
        "style": {
            "label": true
        },
        "nodes": [
            "e63433bdfbdd57e9",
            "06dd855a34065b5d",
            "d1bd5fbe28bdd070",
            "b658a34d31bcd8f3",
            "712cd7b2343eead6",
            "7f303dfb944dfc04",
            "b0cd2895e3545c27"
        ],
        "x": 34,
        "y": 719,
        "w": 812,
        "h": 162
    },
    {
        "id": "6fad59f7a8530963",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "Get batteries information",
        "style": {
            "label": true
        },
        "nodes": [
            "dbe474c91266b428",
            "7d6705c1829e0683",
            "1933f2623fa0fffb",
            "ceb31920f185d64b",
            "b63f2e905b829e5b",
            "64a533741de02153",
            "bbe037f4bc3425fc",
            "023bfc9b8ac21db1"
        ],
        "x": 28,
        "y": 259,
        "w": 1664,
        "h": 242
    },
    {
        "id": "ea78c084bba20424",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "On deploy",
        "style": {
            "label": true
        },
        "nodes": [
            "ad80dc99baec6552",
            "42d70237afb8b3a7"
        ],
        "x": 734,
        "y": 19,
        "w": 432,
        "h": 82
    },
    {
        "id": "5778369e644d84d7",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "Set Batteries",
        "style": {
            "label": true
        },
        "nodes": [
            "95295516124d818d",
            "4d6fd96944872ba1",
            "15830b9747f8132e",
            "d77f3b233b9d9a45",
            "8b0aa863bb6493fd",
            "77163ca9f43e8fb7"
        ],
        "x": 34,
        "y": 899,
        "w": 838,
        "h": 342
    },
    {
        "id": "0a3ea32230e8832c",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "Battery priority",
        "style": {
            "label": true
        },
        "nodes": [
            "db8e14c359673211",
            "b98d8b6d56dc5e39",
            "9f9dd1b6c8a68339",
            "1cc51c4bd0523e93",
            "1c419030271bee64",
            "c9b6b8b729161188",
            "64c9954af597093d",
            "1dac3194a67aeec2",
            "641cc1cf21ace75a"
        ],
        "x": 34,
        "y": 619,
        "w": 1852,
        "h": 82
    },
    {
        "id": "c1e44a160c59f1a9",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "0be9d3b9ef3576fd"
        ],
        "x": 34,
        "y": 519,
        "w": 212,
        "h": 82
    },
    {
        "id": "b63f2e905b829e5b",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "a91127871ba39241",
            "325f396f7e8ad2a8",
            "d01fc0ee854e249a",
            "f384e6c0da2834c8",
            "08d4efea54467ac1",
            "7831dd84510fdfaa",
            "4e53830356f33b07",
            "208060fed37273fc",
            "f3e427d4451be530",
            "a882514e64e6f538"
        ],
        "x": 54,
        "y": 339,
        "w": 1612,
        "h": 82
    },
    {
        "id": "d77f3b233b9d9a45",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "g": "5778369e644d84d7",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "e1927196c4198cbf",
            "047542bb597a3048",
            "df4b99688f85df0a",
            "e25994f6e85e901c",
            "4decf8d91d6ccacb",
            "084ac27446297f16",
            "1e4f762143a12bba"
        ],
        "x": 294,
        "y": 939,
        "w": 552,
        "h": 222
    },
    {
        "id": "149d3bed7854fec1",
        "type": "group",
        "z": "a099d47fc07b3cee",
        "name": "Rate limiter",
        "style": {
            "label": true
        },
        "nodes": [
            "e2a3a19c3da30059",
            "8ddd86470cf105f4",
            "660d380dfd258f53",
            "563c57a7746c3a96",
            "898cc8a1b89a0f72",
            "ca528d9c66c9f8d6"
        ],
        "x": 34,
        "y": 119,
        "w": 1032,
        "h": 122
    },
    {
        "id": "1d0932b9cdfe2cc0",
        "type": "server-state-changed",
        "z": "a099d47fc07b3cee",
        "g": "fc3b0636793881be",
        "name": "P1 meter",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.p1_meter_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "grid_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "057b9222c17d4046"
            ]
        ]
    },
    {
        "id": "057b9222c17d4046",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "fc3b0636793881be",
        "name": "Master Control Mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.marstek_master_battery_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "master_mode",
                "propertyType": "flow",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "b5940f2c8939de70"
            ]
        ]
    },
    {
        "id": "b5940f2c8939de70",
        "type": "switch",
        "z": "a099d47fc07b3cee",
        "g": "fc3b0636793881be",
        "name": "when in \"Full Control\" mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Full control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "898cc8a1b89a0f72"
            ]
        ]
    },
    {
        "id": "e63433bdfbdd57e9",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Battery Strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy",
                "propertyType": "flow",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "b0cd2895e3545c27"
            ]
        ]
    },
    {
        "id": "06dd855a34065b5d",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Strategy selection",
        "func": "// INFLOW\nlet strategy = flow.get(\"house_battery_strategy\");\n\n// stop on error\nif(msg.batteries === undefined) {\n    node.error(\"Battery configuration undefined\", msg);\n    return null;\n}\nif(strategy === undefined) {\n    node.error(\"Battery strategy undefined\", msg);\n    return null;\n}\n\n// select target flow based on the input_select `house_battery_strategy`\nmsg.target = `${strategy}`;\n\n// full stop trigger overrules ALL selected strategies\nconst stopTrigger = RED.util.getMessageProperty(msg,\"full_stop_trigger\");\nif(stopTrigger == \"on\" || stopTrigger === true) {\n    msg.target = 'Full stop';\n}\n\n// add execution marker\nRED.util.setMessageProperty(msg,\"strategy.execution_start\",Date.now()); // when do we start executing the selected strategy\n\n// OUTPUT\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.target});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 760,
        "wires": [
            [
                "b658a34d31bcd8f3",
                "d1bd5fbe28bdd070"
            ]
        ]
    },
    {
        "id": "d1bd5fbe28bdd070",
        "type": "link call",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Call \"Link in\" node",
        "links": [],
        "linkType": "dynamic",
        "timeout": "1.2",
        "x": 410,
        "y": 800,
        "wires": [
            [
                "712cd7b2343eead6",
                "7f303dfb944dfc04"
            ]
        ]
    },
    {
        "id": "b658a34d31bcd8f3",
        "type": "debug",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Input parameters",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 760,
        "wires": []
    },
    {
        "id": "712cd7b2343eead6",
        "type": "debug",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Returned solutions",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "7f303dfb944dfc04",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Strategy evaluation",
        "func": "// add execution marker\nlet execution_end = Date.now();\nRED.util.setMessageProperty(msg, \"strategy.execution_end\", execution_end);\n\n// retrieve execution markers\nlet execution_start = RED.util.getMessageProperty(msg,\"strategy.execution_start\");\n\n// report execution time\nif (execution_start !== undefined && execution_end !== undefined) {\n    // exec time\n    let execution_time = (execution_end - execution_start) / 1000; // seconds\n    // report\n    if (execution_time <= 0) node.status({ fill: \"red\", shape: \"dot\", text: `negative or zero timing` });\n    if (execution_time > 0) node.status({ fill: \"green\", shape: \"dot\", text: `${execution_time} sec`});\n    if (execution_time >= 0.7) node.status({ fill: \"yellow\", shape: \"dot\", text: `${execution_time} sec` });\n    if (execution_time >= 1) node.status({ fill: \"red\", shape: \"dot\", text: `${execution_time} sec` });\n\n} else {\n    node.status({fill:\"grey\",shape:\"dot\",text:\"timing error\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 840,
        "wires": [
            [
                "15830b9747f8132e"
            ]
        ]
    },
    {
        "id": "dbe474c91266b428",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// Init an array for battery status and value information\nmsg.batteries = [];\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "a91127871ba39241"
            ]
        ]
    },
    {
        "id": "64a533741de02153",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Mapping",
        "func": "// Map to batteries array\nmsg.batteries.push({\n    id: `M${msg.battery_index}`,\n    power: parseInt(msg.battery_power,10),\n    charging_max: parseInt(msg.max_charge_power,10),\n    discharging_max: parseInt(msg.max_discharge_power,10),\n    soc: parseInt(msg.battery_state_of_charge,10),\n    soc_max: parseInt(msg.charging_cutoff_capacity,10),\n    soc_min: parseInt(msg.discharging_cutoff_capacity,10),\n    inverter: String(msg.inverter_state),\n    energy: Number(msg.battery_remaining_capacity),\n    energy_max: Number(msg.battery_total_energy),\n    rs485: String(msg.rs485_control_mode)\n    });\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 460,
        "wires": [
            [
                "bbe037f4bc3425fc"
            ]
        ]
    },
    {
        "id": "7d6705c1829e0683",
        "type": "switch",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 460,
        "wires": [
            [
                "a91127871ba39241"
            ],
            [
                "023bfc9b8ac21db1"
            ]
        ]
    },
    {
        "id": "1933f2623fa0fffb",
        "type": "debug",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "ceb31920f185d64b",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "dbe474c91266b428"
            ]
        ]
    },
    {
        "id": "a91127871ba39241",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Control mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.marstek_m{{battery_index}}_rs485_control_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "rs485_control_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "4e53830356f33b07"
            ]
        ]
    },
    {
        "id": "325f396f7e8ad2a8",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "SoC",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_state_of_charge",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_state_of_charge",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 850,
        "y": 380,
        "wires": [
            [
                "f3e427d4451be530"
            ]
        ]
    },
    {
        "id": "d01fc0ee854e249a",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Inverter state",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_inverter_state",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "inverter_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "08d4efea54467ac1"
            ]
        ]
    },
    {
        "id": "f384e6c0da2834c8",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Max discharge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_discharge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_discharge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "325f396f7e8ad2a8"
            ]
        ]
    },
    {
        "id": "08d4efea54467ac1",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Energy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_remaining_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_remaining_capacity",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1420,
        "y": 380,
        "wires": [
            [
                "208060fed37273fc"
            ]
        ]
    },
    {
        "id": "7831dd84510fdfaa",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Max charge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_charge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_charge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 470,
        "y": 380,
        "wires": [
            [
                "f384e6c0da2834c8"
            ]
        ]
    },
    {
        "id": "4e53830356f33b07",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "battery_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "7831dd84510fdfaa"
            ]
        ]
    },
    {
        "id": "ad80dc99baec6552",
        "type": "api-call-service",
        "z": "a099d47fc07b3cee",
        "g": "ea78c084bba20424",
        "name": "Node-RED status: ON",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_has_node_red"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 1040,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "42d70237afb8b3a7",
        "type": "inject",
        "z": "a099d47fc07b3cee",
        "g": "ea78c084bba20424",
        "name": "On deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 60,
        "wires": [
            [
                "ad80dc99baec6552"
            ]
        ]
    },
    {
        "id": "e1927196c4198cbf",
        "type": "api-call-service",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "Set mode (charge/discharge/stop)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 640,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "047542bb597a3048",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "Set Batteries",
        "func": "// enums\nconst CMODE = {\n    STOP: \"stop\", // Marstek batteries disconnect a relay when this is set or Power is 0W\n    CHARGE: \"charge\",\n    DISCHARGE: \"discharge\"\n}\n\n// Output format and target\nlet outputArray = [];\nlet solution = msg.solutions[msg.battery_index-1]; // Base-0, thus -1\nif(solution === undefined) {\n    node.error(`Can't find solution for index ${msg.battery_index - 1} in ${msg.solutions}, aborting...`);\n    return null;\n}\nlet target = `marstek_${solution.id.toLowerCase()}`;\n\n// Safety | Id exists\nlet battery = msg.batteries.find(battery => battery.id === solution.id);\nif (battery === undefined) {\n    node.error(`Can't set battery ${solution.id}, aborting...`);\n    return null;\n}\n// Safety | Power limit\nsolution.power = Math.min(solution.power, solution.mode == CMODE.CHARGE ? battery.charging_max: battery.discharging_max);\n\n// Set | Mode\nconst serviceCallMode = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_forcible_charge_discharge`]\n    },\n    \"data\": {\n         \"option\": String(solution.mode) // forced charge mode (stop, charge, discharge)\n    }\n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallMode, topic:solution.id});\n\n// Set | Power\nconst serviceCallPower = {\n    \"action\": \"number.set_value\",\n    \"target\": {\n        \"entity_id\": [\n            `number.${target}_forcible_charge_power`,\n            `number.${target}_forcible_discharge_power`\n            ]\n    },\n    \"data\": {\n        \"value\": Number(solution.power)\n    } \n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallPower, topic:solution.id});\n\n// Store service calls in msg to allow checking of loop results\nmsg.loop_result = { target, serviceCallMode, serviceCallPower };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Output\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "e1927196c4198cbf"
            ],
            [
                "1e4f762143a12bba"
            ],
            [
                "e25994f6e85e901c"
            ]
        ],
        "inputLabels": [
            "Msg with a battery_index"
        ],
        "outputLabels": [
            "Select MODE",
            "Set POWER",
            "Msg"
        ]
    },
    {
        "id": "95295516124d818d",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "5778369e644d84d7",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = msg.battery_count;\n\n// Debug\nRED.util.setMessageProperty(msg, \"debug\", `## Cohort ${Date.now()} ##`);\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "047542bb597a3048"
            ]
        ]
    },
    {
        "id": "df4b99688f85df0a",
        "type": "switch",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 1080,
        "wires": [
            [
                "047542bb597a3048"
            ],
            [
                "8b0aa863bb6493fd"
            ]
        ]
    },
    {
        "id": "e25994f6e85e901c",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index -= 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1080,
        "wires": [
            [
                "df4b99688f85df0a",
                "084ac27446297f16"
            ]
        ]
    },
    {
        "id": "4decf8d91d6ccacb",
        "type": "api-call-service",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "Set power (W)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 740,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "4d6fd96944872ba1",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "5778369e644d84d7",
        "name": "timing start",
        "func": "RED.util.setMessageProperty(msg,\"setbatteries.execution_start\",Date.now());\nRED.util.setMessageProperty(msg,\"setbatteries.marker\", `M1_${Date.now()}`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 980,
        "wires": [
            [
                "95295516124d818d"
            ]
        ]
    },
    {
        "id": "15830b9747f8132e",
        "type": "switch",
        "z": "a099d47fc07b3cee",
        "g": "5778369e644d84d7",
        "name": "solutions present",
        "property": "solutions",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "4d6fd96944872ba1"
            ]
        ]
    },
    {
        "id": "8b0aa863bb6493fd",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "5778369e644d84d7",
        "name": "timing end",
        "func": "let start = RED.util.getMessageProperty(msg,\"setbatteries.execution_start\");\nlet end = Date.now();\nlet delta = end - start;\nlet timingString = `${delta/1000} sec`;\n\nnode.status({fill:\"green\",shape:\"dot\",text: timingString});\nmsg.delta = delta;\nmsg.timing = timingString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "77163ca9f43e8fb7"
            ]
        ]
    },
    {
        "id": "084ac27446297f16",
        "type": "debug",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "Step result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1e4f762143a12bba",
        "type": "rbe",
        "z": "a099d47fc07b3cee",
        "g": "d77f3b233b9d9a45",
        "name": "on change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "4decf8d91d6ccacb"
            ]
        ]
    },
    {
        "id": "77163ca9f43e8fb7",
        "type": "debug",
        "z": "a099d47fc07b3cee",
        "g": "5778369e644d84d7",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 1200,
        "wires": []
    },
    {
        "id": "bbe037f4bc3425fc",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "7d6705c1829e0683"
            ]
        ]
    },
    {
        "id": "db8e14c359673211",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Update battery order",
        "func": "// Cycles battery priority as follows\n// M=1 [1,2,3,4] | M=2 [2,3,4,1] | M=3 [3,4,1,2] | etc.\n// With M the battery to prioritize\n\n// msg.batteries (original order)\nlet currentArray = msg.batteries;\n\n// Prioritize the Mth battery\nconst M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// 1st battery has prio? Skip and continue without change\nif (M==1) return msg;\n\n// N equals the number of items to take from the front to the back of the array, effectivly rotating battery priority\nconst N = M - 1; // base-0 version of M\nnode.status({fill:\"blue\",shape:\"ring\",text:`N = ${N}`});\n\n// 1. Check if the array is valid and long enough\nif (!Array.isArray(currentArray) || currentArray.length < N) {\n    // Send an error or the original array back if the array is invalid/too short\n    node.error(`Array is not valid or shorter than ${N} items.`, msg);\n    return null;\n}\n\n// 2. Get the first N items (these will go to the back)\n// slice(0, N) retrieves elements from the start (index 0) up to index N (exclusive).\nlet firstN = currentArray.slice(0, N);\n\n// 3. Get the remaining items (these will stay at the front)\n// slice(N) retrieves elements from index N to the end of the array.\nlet remaining = currentArray.slice(N);\n\n// 4. Concatenate them: remaining items (front) + first N items (back)\nlet newArray = remaining.concat(firstN);\n\n// 5. Place the new array back into msg.batteries\nmsg.batteries = newArray;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 660,
        "wires": [
            [
                "e63433bdfbdd57e9"
            ]
        ]
    },
    {
        "id": "b98d8b6d56dc5e39",
        "type": "inject",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Every day 02:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "cycle_battery_priority",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "64c9954af597093d"
            ]
        ]
    },
    {
        "id": "9f9dd1b6c8a68339",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Change priority",
        "func": "// Current prioritized battery is the Mth battery\nlet M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Prioritize the next battery\nM += 1;\n\n// If the next battery does not exist, prioritize the first again\nif(M > msg.battery_count) M = 1;\n\n// Pass along as payload\nmsg.payload = M;\n\n// Show which battery has priority\nnode.status({fill:\"green\",shape:\"dot\",text:`Prioritize battery #${M}`});\n\n// Done\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 660,
        "wires": [
            [
                "c9b6b8b729161188"
            ]
        ]
    },
    {
        "id": "1cc51c4bd0523e93",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1350,
        "y": 660,
        "wires": [
            [
                "9f9dd1b6c8a68339"
            ]
        ]
    },
    {
        "id": "1c419030271bee64",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Prioritize battery M",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "db8e14c359673211"
            ]
        ]
    },
    {
        "id": "c9b6b8b729161188",
        "type": "api-call-service",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Update prioritized battery",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_prioritize_battery"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1750,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "64c9954af597093d",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Desired interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 660,
        "wires": [
            [
                "1dac3194a67aeec2"
            ]
        ]
    },
    {
        "id": "1dac3194a67aeec2",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Check interval ",
        "func": "// Manual priority, never pass\nif(msg.payload == \"Never\") {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Auto cycle disabled\"});\n    return null;\n}\n\n// Daily interval, always pass\nif(msg.payload == \"Daily\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Pass` });\n    return msg;\n}\n\n// Weekly interval\nconst today = new Date();\n// Get the day of the week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)\nconst dayOfWeek = today.getDay();\n\n// Check if the day is Sunday (which is represented by the number 0)\nif (dayOfWeek === 0) {\n    // If it is Sunday, pass\n    node.status({ fill: \"green\", shape: \"dot\", text: `Passed on Sunday` });\n    return msg;\n} else {\n    // If it is not Sunday, stop\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not Sunday` });\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 660,
        "wires": [
            [
                "641cc1cf21ace75a"
            ]
        ]
    },
    {
        "id": "641cc1cf21ace75a",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "0a3ea32230e8832c",
        "name": "Current priority",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "1cc51c4bd0523e93"
            ]
        ]
    },
    {
        "id": "0be9d3b9ef3576fd",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "c1e44a160c59f1a9",
        "name": "Batteries (totals)",
        "func": "// batteries | calculate total and max. power delivered by batteries\nlet batteries = msg.batteries;\nlet batteries_total_power = 0;\nlet batteries_max_charging_power = 0;\nlet batteries_max_discharging_power = 0;\nlet batteries_available_energy = 0;\n\nbatteries.forEach(battery => {\n    batteries_total_power += Number(battery.power);\n    batteries_max_charging_power += Number(battery.charging_max);\n    batteries_max_discharging_power += Number(battery.discharging_max);\n    batteries_available_energy += Number(battery.energy - battery.energy_max*battery.soc_min/100);\n});\n\n// OUTPUT\nRED.util.setMessageProperty(msg, \"batteries_total_power\", batteries_total_power, true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_charge_power\", batteries_max_charging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_discharge_power\", batteries_max_discharging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_available_energy\",batteries_available_energy,true); // kWh effective\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 560,
        "wires": [
            [
                "1c419030271bee64",
                "ce28e80550ab9b42"
            ]
        ],
        "inputLabels": [
            "Mapping (from Home Battery IO)"
        ]
    },
    {
        "id": "208060fed37273fc",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "Energy max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_total_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_total_energy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1570,
        "y": 380,
        "wires": [
            [
                "64a533741de02153"
            ]
        ]
    },
    {
        "id": "023bfc9b8ac21db1",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "6fad59f7a8530963",
        "name": "Loop end",
        "func": "// cleanup \ndelete msg.battery_index;\n\ndelete msg.battery_power;\ndelete msg.max_charge_power;\ndelete msg.max_discharge_power;\ndelete msg.battery_state_of_charge;\ndelete msg.charging_cutoff_capacity;\ndelete msg.discharging_cutoff_capacity;\ndelete msg.inverter_state;\ndelete msg.battery_remaining_capacity;\ndelete msg.battery_total_energy;\ndelete msg.rs485_control_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 460,
        "wires": [
            [
                "1933f2623fa0fffb",
                "0be9d3b9ef3576fd"
            ]
        ]
    },
    {
        "id": "f27b588385633b97",
        "type": "api-call-service",
        "z": "a099d47fc07b3cee",
        "name": "Set total usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_available_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 540,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b0cd2895e3545c27",
        "type": "api-current-state",
        "z": "a099d47fc07b3cee",
        "g": "a5b8a03b1e2f2371",
        "name": "Full Stop Trigger",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ev_is_charging",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "full_stop_trigger",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "06dd855a34065b5d"
            ]
        ]
    },
    {
        "id": "ce28e80550ab9b42",
        "type": "rbe",
        "z": "a099d47fc07b3cee",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_available_energy",
        "topi": "topic",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "f27b588385633b97"
            ]
        ]
    },
    {
        "id": "f3e427d4451be530",
        "type": "change",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "SoC min",
        "rules": [
            {
                "t": "set",
                "p": "discharging_cutoff_capacity",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 380,
        "wires": [
            [
                "a882514e64e6f538"
            ]
        ]
    },
    {
        "id": "a882514e64e6f538",
        "type": "change",
        "z": "a099d47fc07b3cee",
        "g": "b63f2e905b829e5b",
        "name": "SoC max",
        "rules": [
            {
                "t": "set",
                "p": "charging_cutoff_capacity",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "d01fc0ee854e249a"
            ]
        ]
    },
    {
        "id": "e2a3a19c3da30059",
        "type": "switch",
        "z": "a099d47fc07b3cee",
        "g": "149d3bed7854fec1",
        "name": "Select rate limit",
        "property": "rate_limit",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "563c57a7746c3a96"
            ],
            [
                "660d380dfd258f53"
            ]
        ]
    },
    {
        "id": "8ddd86470cf105f4",
        "type": "delay",
        "z": "a099d47fc07b3cee",
        "g": "149d3bed7854fec1",
        "name": "Rate limit (drop)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "ceb31920f185d64b",
                "ca528d9c66c9f8d6"
            ]
        ]
    },
    {
        "id": "660d380dfd258f53",
        "type": "change",
        "z": "a099d47fc07b3cee",
        "g": "149d3bed7854fec1",
        "name": "1 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "8ddd86470cf105f4"
            ]
        ]
    },
    {
        "id": "563c57a7746c3a96",
        "type": "change",
        "z": "a099d47fc07b3cee",
        "g": "149d3bed7854fec1",
        "name": "0.333 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "3000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "8ddd86470cf105f4"
            ]
        ]
    },
    {
        "id": "898cc8a1b89a0f72",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "149d3bed7854fec1",
        "name": "P1 change (20W or 2%)",
        "func": "// Switch between low and high rate limiting to decrease load and power consumption\n// --\n// The flow should always be rate limited by atleast the total execution time of strategies\n// The flow should not lock up indefinitly when grid_power is constant.\n// In the latter case, a more relaxed rate limit can help reduce system load.\n// Devs: don't set msg.rate directly. Use nodes, so novice users can easily read the flow.\n\n// Count the number of evaluations\nlet evaluationCount = Number(context.get(\"p1_rate_limit_evaluations\")) + 1 || 1;\ncontext.set(\"p1_rate_limit_evaluations\", evaluationCount);\nmsg.rate_limit_evaluations = evaluationCount;\n\n// Get the previous value from this node's context\n// If it doesn't exist yet, initialize it as null\nlet previousValue = context.get('previousValue') || null;\nlet currentValue = Number(msg.grid_power);\n\n// Save the current value for the next time the node is triggered\ncontext.set('previousValue', currentValue);\n\n// Default no limiting\nmsg.rate_limit = false;\n\n// Check if we have a valid history to compare with\nif (previousValue !== null) {\n    let absoluteDiff = Math.abs(currentValue - previousValue);\n    let percentageChange = previousValue !== 0 ? Math.abs((absoluteDiff / previousValue) * 100):0;\n\n    // Condition: Absolute difference > N Watt AND percentage change > M %\n    if (absoluteDiff > 20 && percentageChange > 2) {\n\n        // Enable rate limit\n        msg.rate_limit = true;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 180,
        "wires": [
            [
                "e2a3a19c3da30059"
            ]
        ]
    },
    {
        "id": "ca528d9c66c9f8d6",
        "type": "function",
        "z": "a099d47fc07b3cee",
        "g": "149d3bed7854fec1",
        "name": "CPU power saved",
        "func": "// 1. Get evaluations (Total attempts)\nlet evaluations = Number(RED.util.getMessageProperty(msg,\"rate_limit_evaluations\")) || 0;\n\n// 2. Increment and get passes (Filtered/successful events)\nlet passes = (context.get(\"p1_rate_limit_passes\") || 0) + 1;\ncontext.set(\"p1_rate_limit_passes\", passes);\n\n// 3a. Calculate percentage (Rate of passing vs total evaluations)\nlet percentage = evaluations > 0 ? (passes / evaluations) * 100 : 0;\n// 3b. Display the percentage rate of not-passing as a measure of efficiency gained\npercentage = 100 - percentage;\n\n// 4. Update Node Status\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Saved: ${percentage.toFixed(2)}% (${evaluations-passes}/${evaluations})`\n});\n\n// No output\nreturn null;\n\n/*\n// Counters\nlet passesCount = context.get(\"p1_rate_limit_passes\") || 0;\ncontext.set(\"p1_rate_limit_passes\", passesCount++);\n\nlet evaluationCount = Number(flow.get(\"p1_rate_limit_evaluations\")) || 0;\n\n// Percentage\nlet percentage = 0;\nif(passesCount !== 0) {\n    percentage = evaluationCount/passesCount * 100;\n    percentage = Number(percentage.toFixed(2));  // 2 decimals\n}\n\n// Node info\nnode.status({fill:\"blue\",shape:\"dot\",text:`${percentage} %`});\n\nreturn null; */",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "eaa414a9123cc363",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]