node-red/02 strategy-peak-shaving.json
[
    {
        "id": "14a7fc83213e9b42",
        "type": "tab",
        "label": "Strategy Peak Shaving",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fe66a37e7de05b6",
        "type": "group",
        "z": "14a7fc83213e9b42",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "3761d3add5662331",
            "39b720bd9072d09d"
        ],
        "x": 54,
        "y": 99,
        "w": 192,
        "h": 142
    },
    {
        "id": "310ed90d6ad15c95",
        "type": "group",
        "z": "14a7fc83213e9b42",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "b8e7bf7edfb3e4d8",
            "a9a4de7649f3262e"
        ],
        "x": 984,
        "y": 99,
        "w": 192,
        "h": 142
    },
    {
        "id": "11674ae2cd15c76b",
        "type": "group",
        "z": "14a7fc83213e9b42",
        "style": {
            "stroke": "#565656",
            "stroke-opacity": "1",
            "fill": "#3a3a3a",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "d3f6c6adbeb1d1d4",
            "328726af0cd604e3",
            "5ed80e108f2a01a2"
        ],
        "x": 284,
        "y": 159,
        "w": 642,
        "h": 82
    },
    {
        "id": "a4ed52a8841fd3bf",
        "type": "comment",
        "z": "14a7fc83213e9b42",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "3761d3add5662331",
        "type": "link in",
        "z": "14a7fc83213e9b42",
        "g": "2fe66a37e7de05b6",
        "name": "Peak Shaving",
        "links": [],
        "x": 205,
        "y": 200,
        "wires": [
            [
                "5ed80e108f2a01a2"
            ]
        ]
    },
    {
        "id": "39b720bd9072d09d",
        "type": "comment",
        "z": "14a7fc83213e9b42",
        "g": "2fe66a37e7de05b6",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 150,
        "y": 140,
        "wires": []
    },
    {
        "id": "b8e7bf7edfb3e4d8",
        "type": "link out",
        "z": "14a7fc83213e9b42",
        "g": "310ed90d6ad15c95",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 1025,
        "y": 200,
        "wires": []
    },
    {
        "id": "a9a4de7649f3262e",
        "type": "comment",
        "z": "14a7fc83213e9b42",
        "g": "310ed90d6ad15c95",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 1080,
        "y": 140,
        "wires": []
    },
    {
        "id": "d3f6c6adbeb1d1d4",
        "type": "link call",
        "z": "14a7fc83213e9b42",
        "g": "11674ae2cd15c76b",
        "name": "Call self-consumption",
        "links": [
            "7c4fe4a791ef18b2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 800,
        "y": 200,
        "wires": [
            [
                "b8e7bf7edfb3e4d8"
            ]
        ]
    },
    {
        "id": "328726af0cd604e3",
        "type": "function",
        "z": "14a7fc83213e9b42",
        "g": "11674ae2cd15c76b",
        "name": "Setup",
        "func": "// Set target grid consumption for the PID controller\nmsg.house_target_grid_consumption_in_w = msg.max_peak;\n\n// Only allow discharging\nRED.util.setMessageProperty(msg, \"advanced_settings.discharge_disabled\", false, true);\nRED.util.setMessageProperty(msg, \"advanced_settings.charge_disabled\", true, true);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "d3f6c6adbeb1d1d4"
            ]
        ]
    },
    {
        "id": "5ed80e108f2a01a2",
        "type": "api-current-state",
        "z": "14a7fc83213e9b42",
        "g": "11674ae2cd15c76b",
        "name": "Maximum Allowed Peak",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_maximum_peak",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_peak",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "328726af0cd604e3"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant (Dubbel)",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "11b6b870318e6007",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]